@font-face {
  font-family: 'Poppins bold';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

@font-face {
  font-family: "Madimi One";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/madimione/v1/2V0YKIEADpA8U6RygDnZVFMiBw.woff2) format('woff2');
}

:root {
  --header-color: #ffffff;
  --main-color: #f1f1f1;
  --open-add-book-modal-btn: #1b99ec;
  --open-add-book-modal-btn-hover: #1886cf;
  --read-btn: rgb(80, 230, 80);
  --read-btn-hover: rgb(68, 201, 68);
  --read-btn-active: rgb(56, 163, 56);
  --not-read-btn: rgb(224, 92, 92);
  --not-read-btn-hover: rgb(200, 69, 69);
  --not-read-btn-active: rgb(160, 54, 54);
  --add-book-btn: var(--open-add-book-modal-btn);
  --add-book-btn-hover: var(--open-add-book-modal-btn-hover);
  
  --shadow-color: #cbcfce;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-color);
  padding: 40px 100px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  z-index: 2;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

header ul .logo {
  font-family: "Madimi One";
}

header ul .log-in-btn button {
  font-family: "Poppins bold";
  font-size: 0.6em;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

main {
  background-color: var(--main-color);
  height: 100%;
  z-index: 1;
}

main .wrapper {
  background-color: var(--main-color);
  display: grid;
  padding: 90px 140px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  gap: 30px;
}

main .book {
  font-family: "Poppins bold";
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  box-shadow: 0 5px 5px var(--shadow-color);
}

main .book-title {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

main .book-details {
  grid-column: span 2;
}

main .book .pages,
main .book .author {
  font-size: 1.2rem;
  padding: 10px;
  gap: 10px;
  display: flex;
}

main .book .pages .value,
main .book .author .value {
  font-family: "Poppins";
  font-size: 1rem;
  align-self: center;
}

main .book button {
  font-family: "Poppins bold";
  font-size: 1.3rem;
  color: white;
  grid-column: span 1;
  border: none;
  border-radius: inherit;
  transition: 0.3s;
}

main .book .delete img {
  width: 2.4em;
  vertical-align: middle;
}

main .book .read {
  background-color: var(--read-btn);
}

main .book .read::before {
  content: "Read";
}

main .book .read:hover {
  background-color: var(--read-btn-hover);
}

main .book .read:active {
  background-color: var(--read-btn-active);
}

main .book .not-read {
  background-color: var(--not-read-btn);
}

main .book .not-read::before {
  content: "Not read";
}

main .book .not-read:hover {
  background-color: var(--not-read-btn-hover);
}

main .book .not-read:active {
  background-color: var(--not-read-btn-active);
}

main .open-add-book-modal-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

main .open-add-book-modal-btn button {
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--open-add-book-modal-btn);
  transition: 0.3s;
}

main .open-add-book-modal-btn button:hover {
  background-color: var(--open-add-book-modal-btn-hover);
  box-shadow: 0 0 10px 4px var(--shadow-color);
}

main .open-add-book-modal-btn button p {
  color: white;
  font-family: "Poppins bold";
  height: inherit;
  width: calc(inherit - 8px);
  font-size: 80px;
  line-height: 80px;
}

main .add-book-modal::backdrop {
  background-color: rgb(0, 0, 0, 0.25);
}

main .add-book-modal {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 0 var(--shadow-color);
}

main .add-book-modal img {
  width: 2em;
  vertical-align: middle;
}

main .add-book-modal form {
  font-family: 'Poppins bold';
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .add-book-modal form .header {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 300px;
  margin-bottom: 5px;
}

main .add-book-modal form .header .close-btn {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
}

main .add-book-modal form .body {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .add-book-modal form .add-book-btn,
main .add-book-modal form .body select,
main .add-book-modal form .body input {
  font-family: "Poppins";
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--shadow-color);
  padding: 4px;
  padding-left: 8px;
}

main .add-book-modal form .body input:focus {
  outline: 1px;
}

main .add-book-modal form .add-book-btn {
  font-family: "Poppins bold";
  color: white;
  border: none; 
  background-color: var(--add-book-btn);
  transition: 0.3s;
}

main .add-book-modal form .add-book-btn:hover {
  background-color: var(--add-book-btn-hover);
}